
<?xml version"1.0" encoding="UTF-8" ?>

<root>
	<Server>
		<servername>Lv490_CPP</servername>
		<serverdisplayname>Lv490_CPP</serverdisplayname>
		<listenport>8080</listenport>
		<ipadress>127.0.0.1</ipadress>
	</Server>
	<communicationsetings>
		<blocking>0</blocking>
		<socket_timeout>5</socket_timeout>
	 
		<filename>serverlog.txt</filename>
    <LogLevel>3</LogLevel>
		<flush>0</flush>
	</loggin>
	<time>
		<Period_time>30</Period_time>
	</time>
	<treadpool>
		<maxworkingthreads>10</maxworkingthreads>
	</treadpool>
</root>